.primary {
    padding: 1rem 2.6rem;
    background-color: var(--color-primary-d);
    border-radius: 2rem;
    border: 2px solid var(--color-primary-d);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-out;
    &:hover {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }
}
.primary-white {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: rgb(19,84,78);
    font-weight: 500;
    &:hover {
        background-color: #f6f6f6;
        border-color: #f6f6f6;
        
    }
}
.full {
    width: 100%;
}
.basic {
    padding: 1rem 2.6rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}
.secondary {
    padding: 1rem 2.6rem;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
    &:hover {
        background-color: #f9f9f9;
    }
}