.rebrand-skills {
    padding: 5vh 4vw;
    display: flex;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
        padding: 5vh 2vw;
    }
    &__left{
        width: 35%;
        @media only screen and (max-width: 768px){
            width: 100%;
        }
        ul {
            list-style-type: none;
            @media only screen and (max-width: 768px) {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }
            li {
                font-size: 4rem;
                font-weight: 600;
                letter-spacing: -2px;
                color: var(--color-primary);
                cursor: pointer;
                @media only screen and (max-width: 1200px) {
                    font-size: 3.2rem;
                    line-height: 1.3;
                }
                @media only screen and (max-width: 768px){
                    font-size: 2.8rem;
                }
                @media only screen and (max-width: 700px){
                    font-size: 2.2rem;
                }
                @media only screen and (max-width: 500px){
                    font-size: 2rem;
                }
            }
        }
    }
    &__right{
        width: 65%;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
        ul {
            list-style-type: none;
        }
        &--list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: .5rem;
        }
        &--item {
            list-style-type: none;
            font-size: 2.4rem;
            font-weight: 400;
            color: rgb(94,109,85);
            letter-spacing: -1px;
            cursor: pointer;
            @media only screen and (max-width: 1200px) {
                font-size: 2.2rem;
            }
            @media only screen and (max-width: 900px){
                font-size: 2rem;
            }
            @media only screen and (max-width: 768px){
                font-size: 1.8rem;
            }
            @media only screen and (max-width: 500px){
                font-size: 1.6rem;
            }
            &:hover {
                color: var(--color-primary);
            }
        }
    }
}