.testimonials-sec {
  padding: 5vh 4vw;
  @media only screen and (max-width: 1000px){
    padding: 5vh 2vw;
  }
  @media only screen and (max-width: 768px){
    padding: 5vh 0;
  }
  &__header {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -3px;
    margin-bottom: 3rem;
    width: 60%;
    @media only screen and (max-width: 1200px){
        font-size: 6.2rem;
        margin: -1rem 1rem 3rem 1rem;
    }
    @media only screen and (max-width: 700px){
        font-size: 4.2rem;
        width: 90%;
    }
    @media only screen and (max-width: 480px){
        font-size: 3.6rem;
        margin: -1rem 0 3rem 1rem;
    }
  }
  &__slider {
    display: grid;
    grid-template-columns: 44% 44% 44%;
    overflow: hidden;
    position: relative;
    @media only screen and (max-width: 768px){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .next-btn {
        height: 4rem;
        width: 4rem;
        background-color: var(--color-white);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        z-index: 15;
        @media only screen and (max-width: 768px){
            display: none;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
        &__icon {
            font-size: 2.2rem;
            @media only screen and (max-width: 768px){
                display: none;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    .prev-btn {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        background-color: var(--color-white);
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        z-index: 15;
        @media only screen and (max-width: 768px){
            display: none;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
        &__icon {
            font-size: 2.2rem;
            color: green;
            @media only screen and (max-width: 768px){
                display: none;
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    &--item {
      padding: 3rem 3rem 2rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6rem;
      border-radius: 1rem;
      transition: transform .65s ease-in-out;
      opacity: 1;
      @media only screen and (max-width: 1200px){
        gap: 0rem;
      }
      @media only screen and (max-width: 768px){
        border-radius: 0;
        padding: 3rem 3rem 5rem 3rem;
        }
        @media only screen and (max-width: 480px) {
            padding: 3rem 3rem 5rem 1rem;
        }
      &__top {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media only screen and (max-width: 1200px){
            gap: 1rem;
        }
        &--h4 {
          font-size: 2.6rem;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -1px;
          color: var(--color-white);
          @media only screen and (max-width: 1000px){
            font-size: 2rem;
            
          }
        }
        div {
          font-size: 1.6rem;
          font-weight: 500;
          color: #d5e0d5;
          margin-top: -1rem;
          @media only screen and (max-width: 1200px){
            margin-top: 0;
          }
        }
      }
      &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        &--result {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 2rem;
          border-bottom: 1px solid #d5e0d5;
          padding-bottom: 1.2rem;
          color: #d5e0d5;
        }
        &--containers {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          @media only screen and (max-width: 1200px){
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
          &__container {
            display: flex;
            flex-direction: column;
            h4 {
              font-size: 2.6rem;
              color: var(--color-white);
            }
            div {
                font-size: 1.6rem;
                font-weight: 500;
                color: #d5e0d5;
            }
          }
        }
      }
    }
  }
  &__sliderWImg {
    background-color: rgb(0,30,0);
    border-radius: 1rem;
    transition: all .65s ease-in-out;
    display: flex;
    overflow: hidden;
    @media only screen and (max-width: 768px){
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &--left {
        width: 45%;
        background-image: url('../../assets/slider-img.jpeg');
        background-size: cover;
        object-fit: cover;
        background-position: right;
        @media only screen and (max-width: 1000px){
            display: none;
        }
        @media only screen and (max-width: 768px){
            display: block;
            width: 100%;
            background-position: top;
        }
    }
    &--right {
        width: 55%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        @media only screen and (max-width: 1000px){
            width: 100%;
            align-items: center;
        }
      div {
        font-size: 2rem;
        color: var(--color-white);
        font-weight: 600;
        letter-spacing: -1px;
      }
      &__svg-container {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        @media only screen and (max-width: 1000px){
            align-items: center;
        }
        figure:first-child img {
            height: 2.8rem;
        }
      }
    }
  }
}
