@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: rgb(20, 168, 0);
  --color-primary-d: rgb(16, 138, 0);
  --color-white: rgb(255, 255, 255);
  --color-gray-l: rgb(242,247,242);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
